name: deploy-main

on:
  # deploy only when version tags are pushed
  # push:
  #   tags:
  #     - 'v*'
  push:
    branches:
      - 'feature/ci_cd_github_actions'
  # optional: allow ad-hoc runs from the UI (pick a tag or leave default)
  workflow_dispatch:
    inputs:
      ref:
        description: 'Git ref (tag/branch/commit) to deploy'
        required: false
        default: ''

concurrency:
  # include job name in the group so the two jobs don't block each other
  group: deploy-prod-${{ github.ref_name }}-${{ github.job }}
  cancel-in-progress: false

jobs:
  # # PROD (staging-sst-01)
  # deploy-staging:
  #   if: ${{ startsWith(github.ref, 'refs/tags/v') || github.event_name == 'workflow_dispatch' }}
  #   name: Deploy DAB to staging_sst_01 instance
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 60
  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #         ref: ${{ inputs.ref || github.ref }}

  #     - uses: actions/setup-python@v5
  #       with:
  #         python-version: '3.11.11'

      # - name: Install uv and Databricks CLI
      #   run: |
      #     python -m pip install --upgrade pip
      #     pip install uv
      #     curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | sh
      #     databricks -v
      #   shell: bash

  #     - name: Install project dependencies (uv)
  #       run: |
  #         uv venv
  #         uv pip install .

      # - name: Configure Databricks env (Dev)
      #   env:
      #     DATABRICKS_HOST: ${{ secrets.DATABRICKS_DEV_HOST }}
      #     DATABRICKS_CLIENT_ID: ${{ secrets.DATABRICKS_DEV_CLIENT_ID }}
      #     DATABRICKS_CLIENT_SECRET: ${{ secrets.DATABRICKS_DEV_CLIENT_SECRET }}
      #   run: |
      #     databricks version

  #     - name: Deploy bundle (prod target → staging_sst_01)
  #       env:
  #         DB_WORKSPACE:         ${{ secrets.STAGING_DB_WORKSPACE }}
  #         SA_EXECUTER:          ${{ secrets.STAGING_SERVICE_ACCOUNT_EXECUTER }}
  #         DS_RUN_AS:            ${{ secrets.STAGING_DS_RUN_AS }}
  #         GROUP_TO_MANAGE:      ${{ secrets.GROUP_TO_MANAGE }}
  #         DATAKIND_EMAIL:       ${{ secrets.DATAKIND_EMAIL }}
  #       run: |
  #         echo "Deploying DAB to prod for tag $GITHUB_REF_NAME..."
  #         databricks bundle validate --target=prod
  #         databricks bundle deploy \
  #           --target=prod \
  #           --var="DB_workspace=$DB_WORKSPACE" \
  #           --var="service_account_executer=$SA_EXECUTER" \
  #           --var="ds_run_as=$DS_RUN_AS" \
  #           --var="datakind_group_to_manage_workflow=$GROUP_TO_MANAGE" \
  #           --var="datakind_notification_email=$DATAKIND_EMAIL" \
  #           --var="git_tag=${GITHUB_REF_NAME}"

  # DEV (dev-sst-02)
  deploy-dev:
    if: ${{ startsWith(github.ref, 'refs/tags/v') || github.event_name == 'workflow_dispatch' }} || startsWith(github.ref, 'refs/heads/feature/ci_cd_github_actions') }}

    name: Deploy DAB to dev_sst_02 instance
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref || github.ref }}

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11.11'

      - name: Install uv and Databricks CLI
        run: |
          python -m pip install --upgrade pip
          pip install uv
          curl -fsSL https://raw.githubusercontent.com/databricks/setup-cli/main/install.sh | sh
          databricks -v
        shell: bash

      - name: Install project dependencies (uv)
        run: |
          uv venv
          uv pip install .

      - name: Configure Databricks env (Dev)
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_DEV_HOST }}
          DATABRICKS_CLIENT_ID: ${{ secrets.DATABRICKS_DEV_CLIENT_ID }}
          DATABRICKS_CLIENT_SECRET: ${{ secrets.DATABRICKS_DEV_CLIENT_SECRET }}
        run: |
          databricks version

      - name: Deploy bundle (prod target → dev_sst_02)
        env:
          # You can hardcode DB_WORKSPACE=dev_sst_02, or keep as a secret if you prefer
          DB_WORKSPACE:         secrets.DEV_DB_WORKSPACE
          SA_EXECUTER:          ${{ secrets.DEV_SERVICE_ACCOUNT_EXECUTER }}
          DS_RUN_AS:            ${{ secrets.DEV_DS_RUN_AS }}
          GROUP_TO_MANAGE:      ${{ secrets.GROUP_TO_MANAGE }}
          DATAKIND_EMAIL:       ${{ secrets.DATAKIND_EMAIL }}
          REF_NAME: v0.1.6
        run: |
          echo "Deploying PROD target to dev_sst_02 for tag $REF_NAME..."
          databricks bundle validate --target=prod
          databricks bundle deploy \
            --target=prod \
            --var="DB_workspace=$DB_WORKSPACE" \
            --var="service_account_executer=$SA_EXECUTER" \
            --var="ds_run_as=$DS_RUN_AS" \
            --var="datakind_group_to_manage_workflow=$GROUP_TO_MANAGE" \
            --var="datakind_notification_email=$DATAKIND_EMAIL" \
            --var="git_tag=${REF_NAME}"
